<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>ChokiChoki</title>

</head>
<body>
<!-- ヘッダー（ナビゲーションバー） -->
<div th:fragment="header">
<nav class="navbar navbar-flexed-top bg-dark header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navber-brand text-light" th:href="@{/index}">ChokiChoki</a>
    </div>
    <form method="get" th:action="@{/login}">
      <button class="btn btn-danger navbar-brand" type="submit">
        Web予約
      </button>
    </form>
  </div>
</nav>
</div>
<!-- サイドバー -->
<div th:fragment="sidebar">
    <div class="col d-flex flex-culumn">
      <ul class="sidebar">
        <li>
            <label th:text="ユーザー名："></label>
            <span sec:authentication="name"></span>
            <br/>
            <label th:text="ロール："></label>
            <span sec:authentication="principal.authorities"></span>
        </li>
        <!-- Divider -->
        <hr>
        <li>
          <a th:href="@{/reservation}" class="text-dark">
          <th:block sec:authorize="hasRole('ADMIN')">
            予約検索・予約一覧
          </th:block>
          <th:block sec:authorize="hasRole('GENERAL')">
            予約入力
          </th:block>
          </a><br/>
        </li>
        <!-- Divider -->
        <hr>
        <th:block sec:authorize="hasRole('ADMIN')">
          <li>
            <a class="text-light bg-info">管理者メニュー</a>
          </li>
          <li>
            <a class="text-dark" th:href="@{/menu}">
            <span>メニュー登録</span>
            </a>
          </li>

          <li>
            <a class="text-dark" th:href="@{/staff}">
            スタッフ登録
            </a>
          </li>
          <li>
            <a class="text-dark" th:href="@{/userlist}">
            ユーザー一覧
            </a>
          </li>
          <li>
            <a class="text-dark" th:href="@{/signup}">
            ユーザー登録
            </a>
          </li>
        </th:block>
      </ul>
    </div>
</div>

</body>
</html>