<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ChokiChoki</title>
<!-- リンク -->
<th:block th:insert="common/link::link"></th:block>
</head>
<body>
<!-- ヘッダー -->
<th:block th:insert="common/layout::header"></th:block>

<!-- ユーザー編集フォーム -->
<div class="container-fluid main">
  <div class="row">
  <!-- サイドバー -->
  <th:block th:insert="common/layout::sidebar"></th:block>

  <div class="col-sm-8 mx-auto">
    <!-- 入力フォーム -->
    <div class="container bg-light form">
      <h4 class="text-center">ユーザー編集</h4>
      <hr/>
      <form method="post" action="./edituser.html" th:action="@{/edituser/{id}(id=${siteUserId})}">
      <!-- <input name="_method" type="hidden" value="patch" /> -->
      <table class="table table-sm table-borderless text-center mx-5">
        <!-- ユーザー名 -->
        <tr>
          <th width="150">ユーザー名</th>
          <td>
            <div class="form-group w-75">
              <input class="form-control" type="text"
               th:field="${form.siteUserName}"
               id="input-siteUserName" />
            </div>
          </td>
        </tr>
        <!-- パスワード -->
        <tr>
          <th>パスワード</th>
          <td>
            <div class="form-group w-75">
              <input class="form-control" type="password"
               th:field="${form.password}"
               id="input-password">
            </div>
          </td>
        </tr>
        <!-- メールアドレス -->
        <tr>
          <th>メールアドレス</th>
          <td>
            <div class="form-group w-75">
              <input class="form-control" type="email"
               th:field="${form.email}">
            </div>
          </td>
        </tr>
        <!-- 年齢 -->
        <tr>
          <th>年齢</th>
          <td>
            <div class="form-group w-75">
              <input class="form-control" type="text"
               th:field="${form.age}">
            </div>
          </td>
        </tr>

      </table>
      <!-- 更新ボタン -->
      <div class="text-center">
        <button type="submit" name="update" class="btn btn-lg btn-primary">
          更新
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- スクリプト -->
<th:block th:insert="common/link::script"></th:block>
</body>
</html>