<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ChokiChoki</title>
<!-- リンク -->
<th:block th:insert="common/link::link"></th:block>
</head>
<body>
<!-- ヘッダー -->
<th:block th:insert="common/layout::header"></th:block>

<!-- メニュー登録 -->
<div class="container-fluid main">
  <div class="row">
  <!-- サイドバー -->
  <th:block th:insert="common/layout::sidebar"></th:block>

  <div class="col-sm-6 mx-auto">
    <!-- 入力フォーム -->
    <div class="container bg-light form">
    <form method="post" action="./menu.html" th:action="@{/menu}">
      <h4 class="text-center">メニュー登録</h4>
      <hr/>
      <!-- メニュー -->
      <div class="form-group mx-auto w-50">
        <label for="kind">メニュー</label>
        <input class="form-control" type="text"
          th:field="${menu.kind}">
      </div>
      <!-- 価格 -->
      <div class="form-group mx-auto w-50">
        <label for="price">価格</label>
        <input class="form-control" type="text"
          th:field="${menu.price}">
      </div>
      <!-- 登録ボタン -->
      <br/>
      <div class="text-center">
        <button type="submit" class="btn btn-info">
          登録
        </button>
      </div>
    </form>
    </div>
    </div>
  </div>
</div>
<!-- スクリプト -->
<th:block th:insert="common/link::script"></th:block>
</body>
</html>