<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>ChokiChoki</title>
<!-- リンク -->
<th:block th:insert="common/link::link"></th:block>
</head>
<body>
<!-- ヘッダー -->
<th:block th:insert="common/layout::header"></th:block>

<!-- 予約入力フォーム・予約一覧 -->
<div class="container-fluid main">
  <div class="row">
  <!-- サイドバー -->
  <th:block th:insert="common/layout::sidebar"></th:block>

  <div class="col-sm-9 mx-auto">
  <!-- フラッシュメッセージ -->
  <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
  <div th:if="${delete}" class="alert alert-danger">[[${delete}]]</div>

  <!-- 予約入力フォームは一般ユーザーのみ表示 -->
  <th:block sec:authorize="hasRole('GENERAL')">
    <label th:text="予約入力フォームは、一般ユーザーのみ表示"></label>

  <!-- 予約入力フォーム -->
  <div class="container bg-light form">
    <h4 class="text-center">予約入力</h4>
    <hr/>
    <form method="post" action="./reservation.html" th:action="@{/reservation}">
    <table class="table table-sm table-borderless text-right">
      <!-- メニュー -->
      <tr>
        <th width="100">メニュー</th>
        <td>
          <div class="form-group col-sm-6 mx-5">
            <select class="form-control" th:field=${form.menuId}>
              <th:block th:each="menu : ${@menuRepository.findAll()}">
                <option th:value="${menu.id}" th:text="${menu.kind}">
                </option>
              </th:block>
            </select>
          </div>
        </td>
      </tr>
      <!-- 担当者 -->
      <tr>
        <th>担当者</th>
        <td>
          <div class="form-group col-sm-6 mx-5">
            <select class="form-control" th:field=${form.staffId}>
              <th:block th:each="staff : ${@staffRepository.findAll()}">
                <option th:value="${staff.id}" th:text="${staff.staffName}">
                </option>
              </th:block>
            </select>
          </div>
        </td>
      </tr>
      <!-- 予約日 -->
      <tr>
        <th>予約日</th>
        <td>
          <div class="form-group col-sm-6 mx-5">
            <input class="form-control" type="date"
              th:field="${form.reserveDate}">
          </div>
        </td>
      </tr>
      <!-- 要望事項 -->
      <tr>
        <th>要望事項</th>
        <td>
          <div class="form-group col-sm-6 mx-5">
            <input class="form-control" type="text"
              th:field="${form.request}">
          </div>
        </td>
      </tr>
    </table>
    <!-- 予約登録ボタン -->
    <div class="text-center">
      <button type="submit" class="btn btn-lg btn-primary">
        予約
      </button>
    </div>
    </form>
  </div>
  </th:block>

  <!-- 検索フォームは管理者ユーザーのみ表示 -->
  <th:block sec:authorize="hasRole('ADMIN')">
    <label th:text="検索フォームは、管理者ユーザーのみ表示"></label>

  <!-- 検索フォーム -->
  <div class="container bg-light form">
    <h4 class="text-center">予約検索</h4>
    <hr/>
    <form method="post" th:action="@{/}" th:object="${query}">
    <table class="table table-sm table-borderless text-center">
      <tr>
        <!-- メニュー -->
        <th>メニュー</th>
        <td>
          <select class="form-control" th:field=${query.menuId}>
            <th:block th:each="menu : ${@menuRepository.findAll()}">
              <option th:value="${menu.id}" th:text="${menu.kind}">
              </option>
            </th:block>
          </select>
        </td>
        <!-- 担当者 -->
        <th>担当者</th>
        <td>
          <select class="form-control" th:field=${query.staffId}>
            <th:block th:each="staff : ${@staffRepository.findAll()}">
              <option th:value="${staff.id}" th:text="${staff.staffName}">
              </option>
            </th:block>
          </select>
        </td>
      </tr>
      <!-- 予約日 -->
      <!-- <tr>
        <th>予約日</th>
        <td>
          <div class="form-group col-sm-6 mx-5">
            <input class="form-control" type="date"
              th:field="${query.reserveDate}">
          </div>
        </td>
      </tr -->
      <!-- 要望事項 -->
      <!-- <tr>
        <th>要望事項</th>
        <td>
          <div class="form-group col-sm-6 mx-5">
            <input class="form-control" type="text"
              th:field="${query.request}">
          </div>
        </td>
      </tr> -->
    </table>
    <!-- 検索ボタン -->
    <div class="text-center">
      <button type="submit" th:formaction="@{/reservation/query}" class="btn btn-info">
        検索
      </button>
    </div>
    </form>
  </div>
  </th:block>

  <hr/>
  <!-- 予約一覧 -->
  <h4 class="text-center">予約一覧</h4>

  <!-- 合計数、メニュー毎の件数は、一般ユーザーは非表示 -->
  <th:block sec:authorize="hasRole('ADMIN')">
  <!-- 予約の合計数 -->
  <label class="text-info" th:text="'合計：' + ${count} + '件'"></label>
    <!-- メニュー毎の予約件数 -->
    <ul>
      <li th:each="g : ${group}">[[${g.menu}]]:[[${g.number}]]件</li>
    </ul>


  </th:block>

  <div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ユーザー名</th>
        <th scope="col">予約日</th>
        <th scope="col">メニュー</th>
        <th scope="col">料金</th>
        <th scope="col">担当者</th>
        <th scope="col">指名料</th>
        <th scope="col">要望事項</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="reservation : ${reservations}" th:object="${reservation}">
        <td th:text="*{siteUser.siteUserName}"></td>
        <td th:text="*{reserveDate}"></td>
        <td th:text="*{menu.kind}"></td>
        <td th:text="*{menu.price}"></td>
        <td th:text="*{staff.staffName}"></td>
        <td th:text="*{staff.fee}"></td>
        <td th:text="*{request}"></td>
        <td>
          <form method="post" action="./reservation.html"
            th:action="@{/reservation/{id} (id=${reservation.id})}">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" class="btn btn-danger btn-sm" value="キャンセル"/>
          </form>
        </td>
      </tr>
    </tbody>
  </table>

  </div>
</div>
</div>
</div>
<!-- スクリプト -->
<th:block th:insert="common/link::script"></th:block>
</body>
</html>